@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.checkout-container {
  display: none;
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.co {
  text-align: center;
  color: #2e2d2d;
  margin-bottom: 20px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  color: #333;
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
}

.form-section {
  width: 100%;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: 500;
}

/* input[type="text"], input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s;
} */

input[type="text"]:focus, input[type="email"]:focus {
  border-color: #007bff;
  outline: none;
}

.checkout-button {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-button:hover {
  background-color: #0056b3;
}

#cart-items {
  margin-bottom: 30px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cart-item img {
  max-width: 150px;
  margin-right: 25px;
  border: 1px solid #010200;
  border-radius: 5px;
  box-shadow: 1px 1px rgb(35, 8, 61);
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.cart-item-price {
  color: #777;
  margin-bottom: 5px;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.cart-item-quantity input {
  width: 40px;
  background-color: #cccfcf;
  border-radius: 5px;
  margin: 0 10px;
  text-align: center;
  border: none;
}

.cart-item-size {
  margin-top: 10px;
}

.cart-item-size select {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #e2e2e2;
}



/* <!-- HTML !--> */
/* <button class="button-57" role="button"><span class="text">Button 57</span><span>Alternate text</span></button> */

/* CSS */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.remove_item{
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

.remove_item:hover{
  color: #0056b3;
}

.no_item_image {
  height: 300px;
  display: block; /* Ensure the image is block-level */
  margin: 0 auto; /* Center the image horizontally */
}

.head_i{
  text-align: center;
}